
.container {
    padding: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.test {
    border: solid #F6F7F8;
    border-radius: 4px;
    width: 300px;
    height: 370px;
}

/* one column */
.block-column {
    width: 270px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr {
    border-top: 1px solid #C1C8CE;
}

h2 {
    font-size: 14px;
    color: #262626;
}

.rating {
    margin: 10px;
}

h3 {
    display: inline;
    color: #FF4858;
    font-size: 16px;
    margin: 2px;
}

h4 {
    display: inline;
    text-decoration: line-through;
    font-size: 16px;
    margin: 2px;
}

.grey {
    background-color: #F6F7F8;
}

.thumbnailHover {
    /* background-color: rgba(50,50,50,.5); */
    position: absolute;
    top: 10px;
    height: 370px;
    border: none;
}

.thumbnailHover:hover {
    display: block;
    background-color: rgba(255, 255, 255, .9);
    position: absolute;
    top: 50px;
    height: 200px;
    border: none;
}

/* double column */

.block-doubleColumn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    transition: .3s ease;
}

.block-doubleColumn:hover{
    background-color: #F6F7F8;
    transition: .3s ease;
}

.rightDiv {
    text-align: left;
}

/* small thumbnail */

.block-smallThumbnail {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 325px;
}