/* form input */
p{
    margin: 5px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.input-email{
    padding: 5px;
}

.input-email:focus{
    outline: none;
}

.mediumForm{
    padding: 10px;
}

.largeForm{
    padding: 15px;
}

/* select input */
.input-select{
    border: solid 1px #F1F3F4;
    display: inline-block;
    width: auto;
    background-color: white;
    background-image: url('../Forms/Form-img/arrow down.svg');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
    width: 200px;
}

.input-select:focus{
    outline: none;
}

.smallSelect{
    padding: 5px;
    width: 125px;
}

.mediumSelect{
    padding: 10px;
}

.largeSelect{
    padding: 15px;
}

/* number input */

/* text input with button */
.mediumTextButton{
    background-color: #33A0FF;
    padding: 12px;
    border-radius: 0px 4px 4px 0px;
    color: white;
}

.largeTextButton{
    background-color: #33A0FF;
    padding: 17px;
    border-radius: 0px 4px 4px 0px;
    color: white;
}

/* checkboxes */
.blue {
    border-color: #33A0FF;
    height: 25px;
    width: 25px;
    border-radius: 4px;
}

.black {
    border-color: #22262A;
    height: 25px;
    width: 25px;
    border-radius: 4px;
}