/* form input */
.paragraph{
    margin: 5px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.input-email{
    padding: 5px;
}

.input-email:focus{
    outline: none;
}

.mediumForm{
    padding: 10px;
}

.largeForm{
    padding: 15px;
}

/* select input */
.input-select{
    border: solid 1px #F1F3F4;
    display: inline-block;
    width: auto;
    background-color: white;
    background-image: url('../Forms/Form-img/arrow down.svg');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
    width: 200px;
}

.input-select:focus{
    outline: none;
}

.smallSelect{
    padding: 5px;
    width: 125px;
}

.mediumSelect{
    padding: 10px;
}

.largeSelect{
    padding: 15px;
}

/* number input */ 

.plusMinus {
    padding: 15px;
    background-color:#F1F3F4;
    border: none;
    color: #33A0FF;
    font-size: 15px;
    border-radius: 0px;
}

.plusMinus:focus {
    outline: none;
}

.input-number {
    background-color:#F1F3F4;
    height: 20px;
    width: 20px;
    padding: 15px;
    border-top: 1px solid #F1F3F4;
    bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

/* text input with button */
.input-text-button {
    border-radius: 4px 0px 0px 4px;
    border: solid 1px #F1F3F4;
}

.mediumTextButton{
    background-color: #33A0FF;
    padding: 11px;
    border-radius: 0px 4px 4px 0px;
    color: white;
    border: none;
}

.largeTextButton{
    background-color: #33A0FF;
    padding: 16px;
    border-radius: 0px 4px 4px 0px;
    color: white;
    border: none;
}

.mediumTextButton:focus{
    outline: none;
}

.largeTextButton:focus {
    outline: none;
}

/* checkboxes */
/* Code for styling checkboxes from W3Schools */
/* https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */

/* Customize the label (the container) */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 4px;
  }
  
  /* When the checkbox is checked, add a blue background */
  .blue input:checked ~ .checkmark {
    background-color: #33A0FF;
  }

  .black input:checked ~ .checkmark {
    background-color: #22262A;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
/* end checkbox styling from W3Schools */

/* checkbox with popup message label */
.label {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    position: absolute;
    top: -12px;
    left: 37px;
}